body{
    background-image: url(cropped-blur-background-of-pub-restaurant-with-wood-table-628137314_2125x1416.jpg);

}
.title{
    display: flex;
    justify-content: center;
    
    color: #ffffff;
    margin-top: 40px;
}
#confirmationMessage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.navbar-brand1{
  height: 35px;
  margin-left: 10px;
}
.personalization{
    border: 10px solid #FEBD00;
    background-color: #FEBD00;
    border-radius: 10px;
    width: 300px;
    margin: 37px;
    box-shadow: 0 0 10px 5px rgba(55, 55, 55, 0.5); /* Adding shadow effect */
}
.tiltlebord{
    font-family: 'Joti One' , cursive;
    color: brown;
    display: flex;
    justify-content: center;
}
.pizza{
    margin-left: 60px;
}
.element{
    font-family: 'Lobster', cursive;
    color: brown;
    padding-left: 30px;
    /* font-family: 'Arial', sans-serif; */
}
.adding{
    border: 10px solid #FEBD00;
    background-color: #FEBD00;
    border-radius: 10px;
    width: 280px; 
    margin: 60px auto; 
    box-shadow: 0 0 10px 5px rgba(55, 55, 55, 0.5); 
}
.inputs{
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}
.inputs input {
    border-radius: 5px;
    border: none;
    
}
.boton{
    background-color: #D62300;
    color: white;
    border-radius: 10px;
}
.buy{
  color: aliceblue;
  background-color: crimson;
  border-radius: 10px;
  display: flex;
  margin: 50px;
  margin-left: 140px;
}


.adding p{
    font-family: 'Joti One', cursive;
    color: brown;
    display: flex;
    justify-content: center;
}
.inputs :placeholder-shown{
    color: brown;
    font-family: 'Arial', sans-serif;
}
.footer{
    background-color: #D62300;
    
}
.social{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    justify-content: space-evenly;
}
.social svg {
    height: 20px;
}
.copy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fat{
    display: flex;
    justify-content: space-around;
}
.descrip{
  /* display: flex; */
  margin-left: 30px;

}

  @media (min-width: 1024px) {
    .title{
      margin-top: 140px;
      text-shadow: #000000;
    }
    .personalization {
      width: 1000px;
      margin-left: 230px; 
      margin-top: 100px;
    }
    .tiltlebord {
        font-size: 32px; 
      }
      .pizza {
           
    padding-bottom: 43px;
    height: 339px;
    
    margin-left: 364px;
        
      }
      .element{
        font-size: x-large;
        display: inline-block;
      }
      .adding{
        width: 950px;
        margin-left: 260px;
      }
      .inputs{
        height: 150px;
        gap: 20px;
      }
      .adding p{
        font-size: 32px;
      }
      .boton{
        padding: 6px 36px;
        margin-left: 400px;
      }
      .inputs input{
        width: 700px;
        margin-left: 100px;
      }
      .social{
        height: 80px;
      }
    .social svg {
        width: 190px;
        height: 42px;
        }
    .copy{
        font-size: x-large;
    }
    .fat{
        font-size: x-large;
    }
    .buy{
      padding: 6px 36px;
      margin-left: 680px;
    }
    .descrip{
      display: flex;
      margin-left: 33px;
    }
  }

