/* HEADER */
header {
    background-color: #502314;
}

header a {
    color: white !important;
}

header .active {
    color: #FEBD00 !important;
}

.header-basket {
    fill: white !important;
    width: 4%;

}
.burger-menu {
    fill: white !important;
}
/* HEADER */

#devis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
#devis h1{
    color: #D62300;
}
.donnees{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 7%;
}
.donnees-entreprise p{
    margin: 0;
    margin-top: 3%;
}

.infos-customer {
    /* margin-left: 60%;
    margin-top: 10%; */
    margin-bottom: 7%;
}
.infos-customer p{
    font-size: 20px;
}
table {
    width: 88%;
}
  
table th {
    text-align: center;
    padding: 10px;
}
table td {
    padding: 15px;
}
table tr th {
    border: 2px solid;
}
table tr td {
    border-left:   2px solid ;
    border-right:  2px  solid ;
}

#add-borders{
    text-align: center;
    border-top:  2px solid;
    border-bottom: 2px  solid;
}

.no-border-right {
    border-right: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.no-border-left {
    border-left: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.buttons{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}
.buttons button{
    font-size: 20px;
    padding: 10px 40px;
    margin-left: 10%;
    margin-bottom: 20px;
    border: none;
    background-color: #FEBD00;
    color: #502314;
    border-radius: 5px;
}

.item-container{
    border: 2px solid;
    display: block;
}
#devis-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.none{
    display: none;
}

/* --------------------message-style----------------------- */

#message{
    width: 60%;
    background-color: rgb(174, 210, 174);
    text-align: center;
    margin-top: 10%;
}
#message p{
    margin-top:2%;
}



@media print {
  @page {
    size: auto; /* Définissez la taille de la page */
  }

  /* Masquez l'en-tête et le pied de page */
  @page {
    margin: -2cm 0.5cm 0.5cm 0.5cm; /* Ajustez les marges si nécessaire */
  }

}

/* @media screen and (min-width: 768px) {
    .infos-customer p{
        font-size: 15px;
    }
    .donnees-entreprise p{
        margin-top: 3%;
    }
} */
